:root {
    /* Light mod */
    --light--mod--main-color--: #0f766e;
    --light--mod--reiterative-color--: #f59e0b;
    --light--mod--text--color--: #14213d;
    --light--mod--field--color--: #f8fafc;
    /* Dark mod */
    --dark--mod--main--color--: #2dd4bf;
    --dark--mod--field--color--: #0f172a;
    --dark--mod--text--color: #e2e8f0;
    --dark--mod--carts--color: #1e293b;
}