 :root {
     --footer--background--color--: #1e293b;
 }

 .footer {
     height: 70px;
     position: fixed;
     left: 0;
     right: 0;
     bottom: 0;
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: var(--footer--background--color--);
     font-weight: 400;
     color: white;
     z-index: 4;
 }

 .footer__nav__pages {
     color: white;
 }
 .footer__pages{
    display: flex;
 }
 @media (min-width:0) and (max-width:441px) {
    .footer{
        font-size: 0.6rem;
    }
 }