:root {
    --font--weight--400--: 400;
    --font--weight--600--: 600;
    --font--weight--700--: 700;
    --font--weight--800--: 800;
    /* Light mod */
    --main-color--: #0f766e;
    --reiterative-color--: #f59e0b;
    --text--color--: #14213d;
    --background--color--: #f8fafc;
    --background--color--body--: #ffffff;
    --border--color--inputs--: #cfd8e3;
    --second--text--color--: #808080;
    --outline--color--: #ecfdf5;
    --focus--border--color--: #0f766e;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mod */
        --main--color--: #2dd4bf;
        --background--color--body--: #0f172a;
        --text--color--: #e2e8f0;
        --background--color--: #1e293b;
        --border--color--: #2a374a;
        --border--color--inputs--: #475569;
        --second--text--color--: #ffffffd6;
        --outline--color--: #2dd4bf;
        --focus--border--color--: #0f766e;
    }

    .footer {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background--color--body--);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 460px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #00000011;
    background-color: var(--background--color--);
    border: 1px solid var(--border--color--);
}

.text {
    text-align: center;
    color: var(--text--color--);
}

.title {
    margin-block: 20px;
    font-weight: var(--font--weight--800--);
    color: var(--text--color--);
}

.explanation {
    margin-bottom: 40px;
    font-weight: var(--font--weight--400--);
    color: var(--second--text--color--);
}

.input__holder {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--border--color--inputs--);
    margin-block-start: 10px;
    direction: ltr;
    background-color: initial;
    color: var(--text--color--);
}

input:is([type="password"],
    [type="text"],
    [type="email"]):focus {
    border: 1px solid var(--focus--border--color--);
    outline: 5px solid var(--outline--color--);
}

input:is([type="password"],
    [type="text"],
    [type="email"]):user-valid {
    border: 1px solid #5ebf81;
}

input:is([type="password"],
    [type="text"],
    [type="email"]):user-invalid {
    border: 1px solid #e35b5b;
}


label {
    margin-block-start: 20px;
    font-weight: var(--font--weight--600--);
    font-size: 0.9rem;
    color: var(--text--color--);
}

.button__holder {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
}

.form__button {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
}

.register__button {
    padding-block: 15px;
    border: none;
    color: white;
    background-color: var(--main--color--);
}

.reset__button {
    padding-block: 15px;
    color: var(--main--color--);
    border: 1px solid var(--main--color--);
    background-color: initial;
}

.register__button:hover {
    opacity: 0.8;
}

.reset__button:hover {
    opacity: 0.8;
}

@media (min-width:0) and (max-width:426px) {
    label {
        margin-block-start: 5px;
    }

    .explanation {
        margin-bottom: 10px;
    }
}

@media (min-height:639px) and (max-height:721px) {
    .title {
        margin-block: 5px;
    }

    .explanation {
        margin-bottom: 20px;
    }
}