@media (prefers-color-scheme: dark) {
    .header {
        background-color: #1e293b;
        box-shadow: 0 1px 0 rgb(40, 52, 71);
    }

    .pages {
        color: white;
    }

    .brand {
        color: var(--dark--mod--main--color--);
    }

    .entrance__button {
        color: white;
    }

    .buy__basket__button {
        color: var(--dark--mod--main--color--);
        background-color: #123d3b;
    }
}